<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h3>Register Form</h3>
    <form action="/addUser" method="post">
        <div> <input type="text" placeholder="userName" name="userName"></div>
        <div><input type="email" placeholder=Email name="email">
        </div>
        <div> <input type="password" placeholder="password" name="password"></div>
        <div><button type="submit">Register</button></div>
</body>
</html>